<html>
<head>
	<script type="text/javascript"> 
		game_link = "{{ link }}";
	</script>
	<script type="text/javascript" src="/js/game.js"> 
	</script>
	<link rel="stylesheet" media="screen" type="text/css" title="Simple UI" href="/css/simple.css" /> 
</head>
<body onload="init();">
    <div id="content">
        <pre><div id="game_state">{{game_state}}</div></pre> <p>
        <div id="buckets">{{buckets}}</div> <p>
		<div id="wrong_letters"> Letters tried: <span id="l">{{ wrong_letters }}</span> </div> <p>
		<div id="alphabet"> </div>
		<div id="win"> You won! </div>
		<div id="loose"> You lost! </div>
		<div id="play_new_game"> <a href="/play/">Play another game!</a> </div>
    </div>
</body>
</html>