<html>
<head>
	<script type="text/javascript"> 
        Game = {
		game_key: "{{ key }}",
        word: "{{ word }}",
        hint: "{{ hint }}",
        wrong_letters: '',
        right_letters: '',
        finished: false};
	</script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.simplemodal.js"></script>
	<script type="text/javascript" src="/js/game.js"> </script>
	
	<link rel="stylesheet" media="screen" type="text/css" title="Simple UI" href="/css/simple.css" /> 
</head>
<body>
    <div id="content">
        <pre><div id="game_state">{{game_state}}</div></pre> <p>
        
        <div id="buckets"> </div> <p>
		
        <div id="wrong_letters"> Letters tried: <span> </span> </div> <p>
		        
        <div id="alphabet"> <a href="/play/">a</a> </div>
		
		<div id="stats"> 
		    Normal games <Br>
		    Won: <span> </span> <br>
		    Lost: <span> </span> <br>
		    Chat Games <br>
		    Won: <span> </span> <br>
		    Lost: <span> </span> <br>
		</div>
		
        <div id="end_game">
            <div id="win"> You won! </div>
            <div id="lose"> You lost! </div>
            <div id="play_new_game"> <a href="/play/">Play another game!</a> </div>
            
        </div>
    </div>
</body>
</html>
