<!DOCTYPE HTML>

<html>
    <head>
        <title> Igor Montagner - IME-USP </title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
        <script src="js/jquery-hashchange.js"> </script>
        <script src="js/behaviors.js"> </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="branding">
                <h1 class="logo"><a href="#" title="&lt; Magazine /&gt;">&lt; Igor dos Santos Montagner /&gt;</a></h1>
                <ul class="topNav">
                    <li><a href="#home.html" id="ref-home.html" class="topNavAct">HOME</a></li>
                    <li><a href="#research.html" id="ref-">RESEARCH</a></li>
            		<li><a href="#projects.html" id="ref-projects.html">PROJECTS</a></li>
                    <li><a href="#personal.html" id="ref-personal.html">PERSONAL</a></li>
            		<li><a href="#about.html" id="ref-about.html">ABOUT ME</a></li>
                </ul>
                <br class="clear" />
            </div>
            
            <div id="template_content">
            
            </div>
                        
        </div>
    </body>
</html>