#content {
    margin: 0px auto;
    width: 500px;
}

#game_state {
    text-align: left;
    font-family: courier;
    font-size: 20pt;
}

#win {
    display: none;
}
        
#loose {
    display: none;
}

#play_new_game {
    text-align: center;
    display: none;
}

#alphabet {
    text-align: center;
}

.letters {
    padding: 3px;
    margin: 3px;
    display: inline-block;
    width: 15px;
    border: 2px solid #46c046;
    background-color: #bdfdbd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    color: #46c046;
    font-weight: bold;
}

.used_letter {
    border: 2px solid #ea4949;
    background-color: #f3b3b3;
    color: #ea4949;
}